@font-face {
	font-family: 'mooko';
	src:
		url('../fonts/mooko.ttf?pc0pl2') format('truetype'),
		url('../fonts/mooko.woff?pc0pl2') format('woff'),
		url('../fonts/mooko.svg?pc0pl2#mooko') format('svg');
	font-weight: normal;
	font-style: normal;
}

.mooko {
	display: block;
	transform: scaleX(-1);
	font-family: mooko;
}

*{
	box-sizing: border-box;
}
body {
	background-color: var(--void);
	color: white;
	margin: 0;
	overflow: hidden;
	font-family: grueber, Arial, Helvetica, sans-serif;
}

button {
	background: transparent;
	border: 1px solid hsla(0,0%,100%,.1);
	color: white;
	font-family: grueber, Arial, Helvetica, sans-serif;
	border-radius: 5px;
}

button:focus {
	outline: none;
	box-shadow: 0 0 2px 2px rgba(255,255,255,.2);
}

button[disabled]{
	background: rgba(255,255,255,.1);
	border-style: dashed;
	border-color: rgba(255,255,255,.4);
	opacity: .5;
	cursor: not-allowed;
}

.tungsten.owned {
	background: var(--tungsten);
}

.radium.owned {
	background: var(--radium);
}

.copper.owned {
	background: var(--copper);
}

.mercury.owned {
	background: var(--mercury);
}

.tin.owned {
	background: var(--tin);
}

.tungsten {
	box-shadow: inset 0 0 0 1px var(--tungsten);
}

.radium {
	box-shadow: inset  0 0 0 1px var(--radium);
}

.copper {
	box-shadow: inset  0 0 0 1px var(--copper);
}

.mercury {
	box-shadow: inset  0 0 0 1px var(--mercury);
}

.tin {
	box-shadow: inset  0 0 0 1px var(--tin);
}