:root {
	--void: black;
	--control-panel: #111;

	--sun: #fee784;

	--tungsten: #40c2d3;
	--radium: #f79237;
	--copper: #ee285f;
	--mercury: #7851a1;
	--tin: #9bcc50;

}

@font-face {
	font-family: 'mooko';
	src:
		url('../fonts/mooko.ttf?pc0pl2') format('truetype'),
		url('../fonts/mooko.woff?pc0pl2') format('woff'),
		url('../fonts/mooko.svg?pc0pl2#mooko') format('svg');
	font-weight: normal;
	font-style: normal;
}

.mooko {
	display: block;
	transform: scaleX(-1);
	font-family: mooko;
}