:root {
	--void: black;
	--control-panel: #111;
	--gray: #181818;

	--sun: #fee784;

	--tungsten: #40c2d3;
	--radium: #f79237;
	--copper: #ee285f;
	--mercury: #7851a1;
	--tin: #9bcc50;

	--color-1: #fee784;
	--color-2: #ee285f;
}