:root {
	--void: black;
	--control-panel: #111;
	--gray: #222;

	--sun: #fee784;

	--tungsten: #40c2d3;
	--radium: #f79237;
	--copper: #ee285f;
	--mercury: #7851a1;
	--tin: #9bcc50;

			/* #111 - #aaa
			--flesh: purple;
			--iris: #bada55;

			/* .8 - 1.2
			--eye-size: .8;

			/* .5 - 1.3
			--koobo-size: 1;

			/* -20 - 20
			--koobo-angle: 10deg;

			/* .8 - 1.2
			--head-x: 1;
			--head-y: 1;*/

}